<form [formGroup]="userGroup" (ngSubmit)="submit()">
    <div>
        <label>Name</label>
        <input type="text" formControlName="uName">
    </div>
    <div>
        <label>Email</label>
        <input type="text" formControlName="uEmail">
    </div>
    <div>
        <label>Password</label>
        <input type="text" formControlName="uPassword">
    </div>
    

    <div>
        <input type="submit" value="Submit">
    </div>
    <p-calendar [(ngModel)]="value" formControlName = "value"></p-calendar>
</form>